# Intro I

Assigning mulitple variables with one code:

In [1]:
the, house = 1990, 89

print(the)
print(house)

1990
89

Careful with re-assignment:

In [6]:
s = 10
f = s     # so f = 10
s = 30    # giving s a new value, doesn't change the previous assignment

print(f)

10

On the other hand:

In [8]:
values = [34, 89, 67, 90]
numbers = values
values.append(78)

print(values)

[34, 89, 67, 90, 78]

## Sequences: Tuples, Lists, Strings

### Copying vs Referencing a list:

In [22]:
# new list
list = [23, 98, 900, ("what","ever"), "heya", 8998]

# copy the whole list
copy = list[:]  
print(copy)

# copy part of the list
copy_part = list[:2]
print(copy_part)

# create a reference
ref = list

# modify list and see what happens with ref
list[2] = "hush"
print(ref)
print(list)

[23, 98, 900, ('what', 'ever'), 'heya', 8998]
[23, 98]
[23, 98, 'hush', ('what', 'ever'), 'heya', 8998]
[23, 98, 'hush', ('what', 'ever'), 'heya', 8998]

### Check what's inside:

In [23]:
# test wether a value is inside a list:
print("hush" in list)
print("hish" in list)

# test wether a value is inside a string:
string = "I am tired and I want to stop working."
print("re" in string)
print("ak" in list)

True
False
True
False

### Mutation:

In [28]:
# + operator adds one sequence to another, simple concatenation
a = (4578, 920) + ("whats", "cookin")
b = ['hey', 'Jude'] + [849, 90, 90]
c = "yes, " + "let's " + "go!"

print(a)
print(b)
print(c)

(4578, 920, 'whats', 'cookin')
['hey', 'Jude', 849, 90, 90]
yes, let's go!

In [32]:
# * operator REPEATS the sequence
a = (4578, 920) * 2
b = [849, 90, 90] * 5
c = "yes, " + "let's " + "go! " * 3 + "no way"

print(a)
print(b)
print(c)

(4578, 920, 4578, 920)
[849, 90, 90, 849, 90, 90, 849, 90, 90, 849, 90, 90, 849, 90, 90]
yes, let's go! go! go! no way

In [33]:
# tuples: CANNOT be mutated
tuple = (23, 90, 'heya', '89840', 739849)
tuple[3] = 2

TypeError: 'tuple' object does not support item assignment

In [38]:
# BUT: a list inside a tuple CAN be mutated:
tuple_list = (23, 90, 'heya', '89840', [78, "what"], 739849)
tuple_list[4][1] = "no way"
print(tuple_list)

(23, 90, 'heya', '89840', [78, 'no way'], 739849)

### List operations:

In [60]:
list_op = [342.789, 80, 4839, 390]

In [61]:
# append another list
list_op.append([89, 2, 4])
print(list_op)

[342.789, 80, 4839, 390, [89, 2, 4]]

In [62]:
# not possible to append more than one argument
list_op.append(89, 2, 4)
print(list_op)

TypeError: list.append() takes exactly one argument (3 given)

In [63]:
# to "append" more than one element, use "extend"
list_op.extend([1,1,1])
print(list_op)

[342.789, 80, 4839, 390, [89, 2, 4], 1, 1, 1]

In [64]:
# insert value into specific spot (index)
list_op.insert(2, 'inserted')
print(list_op)

[342.789, 80, 'inserted', 4839, 390, [89, 2, 4], 1, 1, 1]

In [65]:
# index of first occurence
list_op.index(80)

1

In [66]:
# number of occurences
list_op.count(1)

3

In [67]:
# remove first occurence
list_op.remove(80)
print(list_op)

[342.789, 'inserted', 4839, 390, [89, 2, 4], 1, 1, 1]

In [70]:
# reverse the list
list_op.reverse()
list_op

[1, 1, 1, [89, 2, 4], 390, 4839, 'inserted', 342.789]

In [1]:
# sort the list (has to consist of numerical values)
list_num = [3, 6078875, 789, 2093, 9304]

list_num.sort()
list_num

[3, 789, 2093, 9304, 6078875]

In [2]:
# sorting the list reversed
list_num.sort(reverse=True)
print(list_num)

[6078875, 9304, 2093, 789, 3]

### Tuples & Lists

In [3]:
# sorting tuples inside a list
list_tup = [(1, 2), (0, 3), (1, 1)] 
  
# sorts the array in ascending order according to second element 
list_tup.sort(key = lambda x: x[1])  
list_tup

[(1, 1), (1, 2), (0, 3)]

In [5]:
# convert a list into a tuple
listt = [1,2,3,4]
tupl = tuple(list_num)
print(tupl)

# convert tuple into a list
tup = (1,4,5,2)
lis = list(tup)
print(lis)

(6078875, 9304, 2093, 789, 3)
[1, 4, 5, 2]

## Dictionaries

In [8]:
dict = {
    'fruit': "apple",
    'berry': 'blueberry',
    'pasta': 'linguini',
    'number': 349
}

print(dict)

{'fruit': 'apple', 'berry': 'blueberry', 'pasta': 'linguini', 'number': 349}

In [9]:
# access an element by key
dict['berry']

'blueberry'

In [10]:
# cannot use value to access key
dict['apple']

KeyError: 'apple'

In [11]:
# change values of a dictionary
dict['berry'] = 'raspberry'
dict['number'] = 900

print(dict)

{'fruit': 'apple', 'berry': 'raspberry', 'pasta': 'linguini', 'number': 900}

In [12]:
# remove elements of a dictionary
del dict['fruit']
dict

{'berry': 'raspberry', 'pasta': 'linguini', 'number': 900}

In [13]:
# list keys of a dictionary
list(dict.keys())

['berry', 'pasta', 'number']

In [14]:
# list values of a dictionary
list(dict.values())

['raspberry', 'linguini', 900]

In [15]:
# list items of a dictionary
list(dict.items())

[('berry', 'raspberry'), ('pasta', 'linguini'), ('number', 900)]

# Intro II

## Functions

Scope
- parameters and variables inside a function only work locally (i.e. inside the function)  
        *Cannot be called outside the function!*

  
Lifetime
- lifetime of a variable inside a function is only the duration of the function running, afterwards it's deleted

  
(Im)Mutable Objects
-  Passing an immutable object (string) to a function and changing its value within a function does not change the original object.
-  Passing a mutable object (e.g., list) to a function and changing its element within a function changes the original list:

  
Other Facts
* no function overloading: different functions, with different arguments can have the same name
* functions are *first class* objects, <br> (can be used as any other data type)
* functions are *objects*
* function names are *variables*

In [2]:
# Functions can define defaults for parameters that need not be passed
def func(a, b, c=10, d=100):
  print(a, b, c, d)

# prints the default values for c and d
func(89, 203)

# BUT default can be overridden if assigned
func(89, 203, 56, 3849)

89 203 10 100
89 203 56 3849

In [10]:
# all functions have a return value
# (return statement can also only be used INSIDE a function)
def return_sth():
    return "something"

return_sth()

'something'

In [11]:
# if they don't have return statement, "None" will be returned
def no_return(h,l):
    addition = h + l + 8989

# without the print() command (or value assignment) 
# literally nothing is returned
print(no_return(5, 8))

None

In [13]:
x = 798
x

In [14]:
def x ():
    print('yaaay')

# even though x was defined beforehand as 789, the define function
# overrides this and claims the variable x now for the function only
# calling just x (without brackets) does not work
x

In [16]:
# x with brackets returns the function call
x()

yaaay

In [20]:
# A function can be assigned to a new variable:
new_variable = x

# but to call it, the brackets still have to be included
new_variable()

# the former variable for the function still works
# so now there are two functions, with different names, doing the same thing
x()

yaaay
yaaay

In [24]:
# if x will be reclaimed again as another variable, it's gonna be overridden:
#(and x() will produce an error)
x = "haha"
x

'haha'

### Nested Functions *(Functions as arguments)*

In [28]:
# 'main' function
def nest(function, parameter):
    """This function is a nested function"""
    res = function(parameter)
    return res

# function to be called inside the other one
def egg(parm):
    return parm**3

# call the 'main' function with the nested function as an argument
print(nest(function=egg, parameter =8))

# call the documentation string
nest.__doc__

512

'This function is a nested function'

### Lambda Functions

**Anonymous function**
* defined without a name
* using `lambda` keyword
* *first class* object: can be passed as an argument to another function, or be an element of a list
* when needing a **simple** function only temporarily
* can have multiple arguments, but only **one expression**: <br> `lambda arguments: expression`
    *  a regular function has for example a "result"-expression and a "return"- expression
    *  lambda function can only have the 'calculation' as an expression, nothing additionally

In [29]:
# define a variable for the lambda function
anonymous = lambda h, k: h**k
anonymous(4,6)

4096

In [30]:
# immediate execution also possible with brackets
(lambda joke: joke + joke) (6)

12

### Higher-Order Functions
*a function operating on other functions, by taking it as an argument or returning a function*

#### `map`function  
`map(function, iterable)`
* returns an *iterator* that applies `function`to each item of the `iterable
* returns a `map()`object, so result should be converted into a list, tuple, etc.
* built-in function

In [10]:
# define function that should be mapped
# aka mapping function
def calc(h):
    return h**8

# define iterable
num = [8,0,6,7, 843,900, 9261]

# call the map() function for the iterable
result = map(calc, num)
print(result)

<map object at 0x1190cfb20>

In [11]:
# if not immediately converted, only 'map object' is returned
result = list(map(calc, num))
print(result)

[16777216, 0, 1679616, 5764801, 255047221697062845442401, 430467210000000000000000, 54108198377272584130510593262881]

In [12]:
# also possible with lambda functions
lam = list(map(lambda h: h**8, num))
print(lam)

[16777216, 0, 1679616, 5764801, 255047221697062845442401, 430467210000000000000000, 54108198377272584130510593262881]

#### `filter` function

`filter(function, iterable)`

* used to filter elements from an iterable based on a given function
* returns an iterator with the items of the iterable for which the given function is True
* built-in function

In [13]:
def even(u):
    return u%2 == 0  # modulus: if u divided by 2 returns zero (i.e. is even)

list(filter(even, num))

[8, 0, 6, 900]

In [16]:
# the filter function returns the numbers for which the statement is true
lamf = list(filter(lambda o: o%2 == 0, num))
print(lamf)

[8, 0, 6, 900]

In [17]:
# the map funtion retrun True/False for each item
lamm = list(map(lambda o: o%2 == 0, num))
print(lamm)

[True, True, True, False, False, True, False]

#### `reduce`function

`functools.reduce(function, iterable[, initializer])`

* **not** a built-in function!
    * import from `functools` necessary
* applies function of two arguments cumulatively to the items of iterable, from left to right, so as to reduce the iterable to a **single value**.
    * For example, `reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])` calculates `((((1+2)+3)+4)+5)`.
    * The left argument, x, is the accumulated value and the right argument, y, is the update value from the iterable.
    * If the optional initializer is present, it is placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty. If initializer is not given and iterable contains only one item, the first item is returned.

In [18]:
from functools import reduce

In [19]:
def add(k, q):
    return k + q + k

iterable = range(22)
print(reduce(add, iterable))

4194281

In [20]:
print(reduce(lambda k,q: k+q+k, iterable))

4194281

# Intro III

### `if`/`else` condition
* block following `if` condition is executed when the expression of the condition is true,
* `elif` keyword means "if the previous conditions were not true, then try this condition",
* `else` keyword catches anything which isn't caught by the preceding conditions.

  
### `for` loop
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

  
### `while` loop
With the `while` loop we can execute a set of statements as long as a condition is true.

### `break` and `continue`
`break` statement stops the loop before it has looped through all the items.  
`continue` statement stops the current iteration, and continue with the next.

## Object-Oriented Programming

### Example of a class

Step 1: Define the Class

In [35]:
class People:
    """A class representing people."""
    # define the first method __init__
    # it initializes the object, setting up the initial attributes
    # ALL attributes are needed to initialize the object 
    # first parameter is ALWAYS 'self', Caution: not an input paramter!
    def __init__(self, nm, age, rel): 
        self.name = nm
        self.age = age
        self.relation = rel

    # define the second method
    def get_rel(self):
        return self.relation

    # define another method
    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old, I am a {self.relation}.")

Step 2: Instantiating the object

In [65]:
# 'classify' an object, by delivering the necessary attributes
person_object1 = People('Berry', 29, 'neighbor')
person_object2 = People('Coco', 55, 'mother')

# call the relation object for person 1
# no parentheses needed because only calling an attribute (not a method)
person_object1.relation

'neighbor'

In [66]:
person_object2.name

'Coco'

In [67]:
# calling a method: parentheses needed
person_object2.get_rel()

'mother'

In [68]:
person_object1.greet()

Hello, my name is Berry and I am 29 years old, I am a neighbor.

In [69]:
# Example with a method with additional attributes:

class Rectangle:
    def __init__(self, w, h):
        self.width = w
        self.height = h

    def calc_area(self):
        return self.width * self.height

    # method with additional attributes
    def is_square(self, threshold):
        return abs(self.width-self.height) < threshold

# create objects
rec1 = Rectangle(5,10)
rec2 = Rectangle(8, 8)

# call methods
# no extra parameters needed, everything necessary already contained in rec1
rec1_area = rec1.calc_area()
print(rec1_area)

# info needed for threshold
rec1_sq = rec1.is_square(1)
print(rec1_sq)

rec2_sq = rec2.is_square(1)
print(rec2_sq)

50
False
True

### Inheritance

* not necessary to define `__init__`method for a subclass
  * if omitted, `__init__` of parent class is automatically used
* if `__init__` newly defined, call `__init__`of parent class explicitly within the subclass, using `super()`
  * ensure that any necessary initialization from the parent class is performed before any addtional initialization specific to the subclass
 

**Important**
When subclass is defined, new objects have to be created *WITHIN* the sublcass to be able to call methods from the subclass. It is possible to call methods from the parents class, if the object was defined in the subclass, but *not* vice versa!

In [70]:
# with omission
class Trapeze(Rectangle):
    """A class extending Rectamgle, with omitting __init__."""
    # define a new method without calling the __init__
    def circum(self):
        return self.width*2 + self.height*2


rec3 = Trapeze(40,3)

rec3_c = rec3.circum()
print(rec3_c)

rec3_a = rec3.calc_area()
print(rec3_a)

rec3_t = rec3.is_square(1)
print(rec3_t)

# Caution: This will not work, as it is only defined in the parent class.
# rec1_c = rec1.circum()
# print(rec1_c)

86
120
False

In [71]:
# without omission
class Profession(People):
    """A class extending People, i.e. a child or subclass. Without omitting the __init__ function of the parent class"""
    def __init__(self, nm, age, rel, prof):
        super().__init__(nm, age, rel)
        self.profession = prof

    def display_prof(self):
        print(f"I work as a {self.profession}")

# create instance of profession class
prof1 = Profession("Maria", 60, "friend", "caretaker")

# access attributes and methods from parent class
prof1.greet()

# access attributes and methods from subclass
prof1.display_prof()

Hello, my name is Maria and I am 60 years old, I am a friend.
I work as a caretaker

### IPython: Magic Commands

* IPython has a set of predefined *magic functions* that you can call with a command line style syntax. Here are some of them:
    * %time - time execution of a Python statement or expression
    * %timeit - time execution of a Python statement or expression with multiple repetitions
    * %debug - activate debugger in post-mortem mode: If an exception (error) has just occurred, lets you inspect its stack frames interactively; work only on the last traceback that occurred (more on this later)